[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
setuptools = "<58.0"
flask-mongoalchemy = "*"
dnspython = "*"
pymongo = "==3.10.0"

[dev-packages]

[requires]
python_version = "3.9"
