#about-who { 
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

#about-content { 
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: rgb(24, 24, 24);
}

#about-content a { 
    color: rgb(16, 15, 15);
    text-decoration: underline; 
}

#about-info { 
    /* Page-wide height */
    height: 100vh;
    /* Page-wide width */
    width: 100vw;
    background-color: rgb(207, 207, 254);
    display: flex;
    /* Center horizontally text */
    justify-content: center;
    align-items: center;


}