.home-header { 
    color: rgb(47, 46, 46); 
    transition: 2s;
}

#home-future-snippet { 
    background-color: #8086c2;
    color: white; 
}

.home-logo { 
    width: 60%;
    height: 50%;
    object-fit: cover;
}