.home-header { 
    color: rgb(47, 46, 46); 
    transition: 2s;
}

#home-future-snippet { 
    background-color: #16a085;
    color: white; 
}

.home-logo { 
    width: 80%;
    height: 70%;
    object-fit: cover;
    transition: 2s; 
}