.home-header { 
    color: rgb(47, 46, 46); 
    transition: 2s;
}

#home-future-snippet { 
    background-color: #16a085;
    color: white; 
}

#home-video-background { 
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0.35;
    /* background on top of page, without position: absolute */


    

}

.home-logo { 
    width: 70%;
    height: 70%;
    object-fit: scale-down;
    transition: 2s; 
    
    
}

#home-logo-wrap { 
    min-width: 100px;
    z-index: 2;

    position: absolute;
    top: 30%;
    left: 25%;

}



