.App {
  text-align: center;
  color: black; 
}

.App-header { 
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  list-style: none;
  /* Remove the default padding */
  padding: 0;
}


li { 
  display: inline; 
  margin: 0 20px;
  margin-left: 5em;
}

a { 
  color: white; 
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-body { 
  min-height: 90vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(134, 99, 99);
  background-color: #a6c2f2;
}
