.map-body { 
    min-height: 90vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(134, 99, 99);
    background-color: #a6c2f2;

    height: 100vh;
}